__pycache__/
.ipynb_checkpoints/
processed
outputs
outputs_v2
checkpoints
checkpoints_v2
trash
examples*
.env
build
*.egg-info/
*.zip

# Virtual environments
venv/
env/
.venv/
.env/
.openvoice-env/
ENV/
env.bak/
venv.bak/
